#======================================================================
#
#  @(#)config_file 1.3 96/05/30
#  
#   Config File
#
#   This is used with Cust_pol_get_config to obtain general config
#   info for end of create_customer FM call
#   
#
#
#======================================================================

#======================================================================
#  The config_dirs entry in the pin.conf should indicate the location 
#  where this file should be located.  There may be more than one copy
#  of this configuration file.  Each config file should
#  be named according to the PIN_FLD_AAC_SOURCE value used to get the
#  config info with the PCM_OP_CUST_POL_GET_CONFIG fm call.  For example,
#  with meccad the AAC_SOURCE field value is normally the ip addr and port
#  of where the meccad deamon is running.  So if meccad was running at
#  machine/port 156.151.1.11.1700, then there would be a file with that
#  name in the designated config_dir directory.
#======================================================================


dns_address_1		= XXX.XXX.XXX.XXX
dns_address_2		= XXX.XXX.XXX.XXX
smtp_hostname		= XXXXXXXXX.XXX
smtp_port		= XX
nntp_hostname		= XXXX.XXX
pop_hostname		= XXXX.XXX
http_url		= XXXXXXXXXXXXXXX
support_number		= XXXXXXXXXXXXXXX
